body {
    background-color: white;
    font-family: 'Trebuchet MS';
}

h1 {
    font-size: 21px;
}

.container {
    background-color: black;
    padding: 20px 20px 20px 0px;
    border-radius: 20px;
    margin: 100px auto;
    color: white;
    width: 250px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}
.calculator{
    margin: auto auto;
    width: 80%;
    padding: 10px;
}
input {
    width: 100%;
    padding: 7px;
    margin-top: 9px;
    display: block;
    border-radius: 20px;
    background-color: transparent;
    border: 0px;
    box-shadow: inset -2px -2px 7px rgba(255, 255, 255, 0.3), 
    -3px -2px 5px rgba(255, 255, 255, 0.3) ;
    color: white;
}
#total{
    font-size: 15px;
}
input:focus{
    outline: none;
}